* {
  width: 100vw;
}

body {
  -ms-overflow-style: none;
}
h3 {
  font-family: NotoSansKR;
  font-size: 58px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #231815;
  margin:0px;
  margin-bottom: 86px;
}
h5 {
  font-family: NotoSansKR;
  font-size: 29px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin:0;
  margin-bottom:26px;
}
p {
  font-family: NotoSansKR;
  font-size: 29px;s
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin:0;
  margin-bottom:79px;
}
::-webkit-scrollbar {
  display: none;
}

.header__wrap {
  width: 100vw;
  background-color: rgba(
    0,
    0,
    255,
    0.1
  );
}
header {
  width: 100vw;
  height: 7.916666666666667%; /*7.125em;*/
  background-color: #ffffff;
  display: flex;
}
.logo {
  display: inline-flex;
  align-content: center;
  margin-left: 52px;
  width: auto;
  background-color: rgba(
    0,
    0,
    255,
    0.1
  );
}
.logo__image {
  width: 78px;
  height: 50px;
  margin: 0 25px 0 0;
  background-color: rgba(
    0,
    0,
    255,
    0.1
  );
  margin-top: 33px;
  background-image: url(img/logo_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.logo__text {
  width: 205px;
  height: 16px;
  opacity: 0.51;
  background-color: rgba(
    0,
    0,
    255,
    0.2
  );
  margin-top: 48px;
  background-image: url(img/logo_txt.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.nav {
  display: inline-flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 52px;
}
.nav ul {
  display: inline-flex;
  width: 31.819em;
  list-style: none;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  margin: 41px 0;
}
.nav button {
  width: 6.813em;
  height: 1.919em;
  opacity: 0.34;
  border-radius: 0.956em;
  border: solid 1px #606060;
  font-family: NotoSansKR;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  margin-top: -7px;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}
/*헤더네비게이션*/

.information {
  width: 100vw;
  height: 1440px;
  background-image: url(img/page2_info.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  position: relative;
}
/*헤더배경*/
.information__description {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 235px;
  margin-top: 327px;
}
/*헤더 컨텐츠 내용*/
.information__button-container button {
  width: 198px;
  height: 69px;
  font-family: NotoSansKR;
  font-size: 29px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: white;
  background-color: black;
  border-radius:40px;
  padding:0 10px 0 10px;
  margin:0;
  margin-bottom:327px;
  text-align: center;
  margin-right:48px;
}
.content__wrap {
  width: 100vw;
  height: 198.125em;
  background-image: url(img/content_background.jpg);
  background-color: rgba(
    255,
    255,
    0,
    0.1
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: visible;
}
.application_acceptance--info{}
.application_acceptance--input{}
.footer__wrap {
  width: 100vw;
  height: 392.3px;
  background-color: #000000;
}
