* {
  margin: 0 auto;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -ms-overflow-style: none;
  margin: 0 auto;
}
.header__descripton h3 {
  font-family: NotoSansKR;
  font-size: 3.625em;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #231815;
  margin: 0px;
  margin-bottom: 87px;
}
h3 {
  font-family: NotoSansKR;
  font-size: 63px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
h5 {
  font-family: NotoSansKR;
  font-size: 1.813em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin: 0;
  margin-bottom: 1.625em;
}
p {
  font-family: NotoSansKR;
  font-size: 1.813em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.G-wrap h3 {
  font-family: NotoSansKR;
  font-size: 63px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}

::-webkit-scrollbar {
  display: none;
}

.header__wrap {
  width: 100vw;
  background-color: rgba(
    0,
    0,
    255,
    0.1
  );
}
.header {
  width: 100vw;
  height: auto /*7.125em;*/;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: inline-flex;
  align-content: center;
  margin-left: 3.25em;
  width: auto;
  background-color: rgba(0, 0, 255, 0);
}
.header__logo--image {
  width: 4.875em;
  height: 50px;

  background-color: rgba(0, 0, 255, 0);
  margin-top: 2.063em;
  background-image: url(img/logo_image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header__logo--text {
  width: 12.813em;
  height: 1em;
  opacity: 0.51;
  margin-top: 3em;
  background-image: url(img/logo_txt.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header__nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 3.25em;
  opacity: 0.57;
  font-family: NotoSansKR;
  font-size: 20.3px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
}
.header__nav ul {
  display: inline-flex;
  width: 31.819em;
  list-style: none;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  margin: 41px 0;
}
.header__nav button {
  width: 6.813em;
  height: 1.919em;
  opacity: 0.34;
  border-radius: 0.956em;
  border: solid 1px #606060;
  font-family: NotoSansKR;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  margin-top: -7px;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}
/*�ㅻ뜑�ㅻ퉬寃뚯씠��*/

.header__content--wrap {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  position: relative;
}
.header__content--wrap.page1 {
  background-image: url(img/page1_front.jpg);
}
.header__content--wrap.page2 {
  background-image: url(img/page2_info.jpg);
}
.header__content--wrap.page3 {
  background-image: url(img/page3_header_image.jpg);
}

/*header_content background*/
.header__descripton.page1 {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60%;
  margin-top: 8%;
}

.header__descripton {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 235px;
  margin-top: 327px;
}
.header__descripton h2 {
  color: white;
  font-family: NotoSansKR;
  font-size: 61.2px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: normal;
  text-align: left;
  color: inherit;
}

.header__descripton.page1 h2 {
  color: white;
  font-family: NotoSansKR;
  font-size: 61.2px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.header__descripton.page1 h2 span {
  color: #efe23f;
}

/*�ㅻ뜑 而⑦뀗痢� �댁슜*/
.header__descripton-button button {
  width: 198px;
  height: 69px;
  font-family: NotoSansKR;
  font-size: 29px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: white;
  background-color: black;
  border-radius: 40px;
  padding: 0 10px 0 10px;
  margin: 0;
  text-align: center;
  margin-right: 3em;
}

.footer__wrap {
  width: 100vw;
  height: 392.3px;
  background-color: #000000;
  color: white;
}
/*肄섑뀗痢�*/
.content__wrap {
  width: 100vw;
  height: 198.125em;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: visible;
  display: flex;
}
.content__wrap.page2,
.content__wrap.page3 {
  width: 100vw;
  height: 198.125em;
  background-image: url(img/content_background.jpg);
  background-color: rgba(
    255,
    255,
    0,
    0.1
  );
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: visible;
  display: flex;
}
.content {
  width: 100%;
}
.move-in-procedure h3 {
  margin-top: 230px;
  margin-left: 239px;
}
.move-in-procedure p {
  margin-top: 77px;
  margin-left: 235px;
}
.move-in-procedure__icon--wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 281px;
}
.move-in-procedure__icon--wrap .icon {
  width: 126px;
  padding-top: 200px;
  height: 230px;
  margin-right: 70px;
  margin-left: 70px;
}
hr {
  width: 100%;
  height: 1px;
  background: grey;
  margin-bottom: 281px;
}
.application_acceptance {
  margin-top: 1px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: space-around;
}
.application_acceptance__info h3 {
  /* margin-left: 238px;*/
}
.application_acceptance__info p {
  /* margin-left: 234px;*/
}
.content__application_acceptance {
  display: flex;
  justify-content: center;
}
.application_acceptance--info {
  display: inline-flex;
  flex-direction: column;
  margin-right: 50px;
}
.application_acceptance--info h3 {
  margin-left: 238px;
  height: 51px;
  margin: 0px 65px 74px 4px;
  font-family: NotoSansKR;
  font-size: 63px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}
.application_acceptance--info p {
  margin-left: 234px;
  width: 688px;
  height: 80px;
  margin: 41px 50px 26px 0;
  font-family: NotoSansKR;
  font-size: 31px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.74;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}
.application_acceptance--input {
  display: inline-flex;
  flex-direction: column;
  margin-left: 50px;
}
.application_acceptance--input {
  display: flex;
  flex-direction: column;
}
.application_acceptance--input--question {
  width: 622px;
  background-color: #9bd7e6;
  margin-bottom: 3px;
}
.content__application_acceptance--button {
  display: flex;
  justify-content: flex-start;
  margin-left: 15px;
}
.content__application_acceptance--button
  button {
  width: 198px;
  height: 69px;
  font-family: NotoSansKR;
  font-size: 29px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: white;
  background-color: black;
  border-radius: 40px;
  padding: 0 10px 0 10px;
  margin: 0;
  margin-bottom: 327px;
  text-align: center;
  margin-right: 3em;
}

.radio {
  margin: 0.5rem;
}
.radio input[type='radio'] {
  position: absolute;
  opacity: 0;
}
.radio
  input[type='radio']
  + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.radio
  input[type='radio']:checked
  + .radio-label:before {
  background-color: #3197ee;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio
  input[type='radio']:focus
  + .radio-label:before {
  outline: none;
  border-color: #3197ee;
}
.radio
  input[type='radio']:disabled
  + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio
  input[type='radio']
  + .radio-label:empty:before {
  margin-right: 0;
}
.radio_container {
  display: grid;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr 1fr 1fr;
}
.footer {
  display: flex;
  color: white;
  padding-top: 50px;
  justify-content: center;
}
.footer__address {
  display: inline-flex;
  width: 45%;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5%;
  word-break: none;
  line-height: 150%;
}
.footer__address .logo {
  display: flex;
  font-size: 2rem;
  word-wrap: none;
}

.footer__icon {
  display: inline-flex;
  width: 100px;
  height: 100px;
  flex-direction: row;
}
.footer {
  display: flex;
  color: white;
  padding-top: 50px;
  justify-content: center;
}

.footer__nav {
  display: inline-flex;
  justify-content: center;
  font-size: 20px;
  width: 30%;
  background-color: rgba(
    255,
    255,
    255,
    0
  );
  justify-content: flex-start;
  font-size: 20px;
  line-height: 200%;
}
.footer__nav ul {
  list-style: none;
}
.footer__icon-container {
  display: inline-flex;
  width: 25%;
  height: 100%;
  justify-content: space-around;
  align-content: center;
  margin-right: 3%;
}
.footer__icon {
  display: inline-flex;
  width: 50px;
  height: 50px;
  background-color: rgba(
    0,
    0,
    255,
    0.5
  );
  flex-direction: row;
}

.brand__recruitment--container {
  background-image: url(img/page1_1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
}
.brand__recruitment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 50vw;
}
.brand__recruitment h3 {
  display: flex;
  justify-content: center;
}
.brand__recruitment p {
  margin-top: 10px;
  text-align: center;
}
.brand__recruitment span {
  width: 308px;
  height: 28px;
  margin: 106.6px 5.7px 33.5px 0.2px;
  opacity: 0.35;
  font-family: NotoSansKR;
  font-size: 20.9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.13;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.recruitment__icon--wrap {
  display: flex;
  justify-content: center;
  width: 70%;
}

.recruitment__icon-container {
  display: grid;
  width: 90%;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.recruitment__icon-container .icon {
  width: 100px;
  height: 100px;
  margin: 10px;
  margin-bottom: 20px;
  background-color: aqua;
  text-align: center;
}

.brand_identity {
  width: 100vw;
  height: 100vh;
  background-image: url(img/cloud.jpg);
  display: flex;
  background: no-repeat cover;
}
.brand_identity__container {
  width: 50%;
  height: 100vh;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 60%;
  padding-left: 5%;
}
.brand_identity__container h3 {
  margin-top: 50%;
}

.brand_membership {
  width: 100vw;
  height: 100vh;
  background-image: url(img/marble.jpg);
  display: flex;
}
.brand_membership__container {
  width: 65%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 35%;
  padding-left: 20%;
}
.brand_membership__description {
}
.brand_membership__container h3 {
  margin-top: 0%;
  margin-bottom: 10%;
}
.icon__membership__container {
  margin-top: 10%;
  display: grid;
  grid-gap: 25px;
  width: 100%;
  justify-content: flex-start;
  grid-template-columns: repeat(
    4,
    150px
  );
  grid-template-rows: 1fr 1fr;
}
.icon__membership {
  width: 100px;
  height: 100px;
  background-color: #3197ee;
  text-align: center;
}
.graph span {
  display: block;
  height: 50px;
  line-height: 40px;
  text-align: right;
  background: dodgerblue;
  border-radius: 40px;
  box-sizing: border-box;
  color: black;
  animation: stack1 2s 1;
}
.stack1 span {
  animation: stack1 2s 1;
  width: 27%;
}
.stack2 span {
  animation: stack2 2s 1;
  width: 100%;
  margin-top: 4.5rem;
}

@keyframes stack1 {
  0% {
    width: 100%;
    color: rgba(255, 255, 255, 0);
  }
  50% {
    color: rgba(0, 0, 0, 1);
  }
  100% {
    width: 27%;
  }
}
@keyframes stack2 {
  0% {
    width: 0%;
    color: rgba(255, 255, 255, 0);
  }
  50% {
    color: rgba(0, 0, 0, 1);
  }
  100% {
    width: 100%;
  }
}

.G-wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
}
.g-wrap {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.graph__money {
  grid-area: m;
}
.graph__money2 {
  margin-top: 4rem;
}

.graph__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.g-wrap {
  margin-left: 300px;
}
.graph__logo {
  text-align: left;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.graph__money {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}
.graph {
  width: 100%;
  display: inline-block;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
}
.discription__text {
  font-size: 12px;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
}
.discription__button button {
  display: inline-block;
}

.content__icon--wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 281px;
}

.content__icon--wrap .icon {
  width: 126px;
  padding-top: 200px;
  height: 230px;
  margin-right: 70px;
  margin-left: 70px;
}
.content__move-in-procedure h3 {
  margin-top: 230px;
  margin-left: 239px;
}
.content__move-in-procedure p {
  margin-top: 77px;
  margin-left: 235px;
}

.content__application_acceptance {
  margin-top: 1px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
}
.application_acceptance--info h3 {
  margin-left: 238px;
}
.application_acceptance--info p {
  margin-left: 234px;
}
.brand_branding {
  width: 100vw;
  height: 100vh;
}
.brand_branding__title {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 5% 0 3% 0;
  align-items: flex-end;
  margin-left: 300px;
}
.brand_branding__title h3 {
}
.brand_branding__title span {
  font-family: NotoSansKR;
  font-size: 31px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #606060;
  padding-right: 500px;
}

.brand_branding__title h3 {
}
.brand_branding__title p {
}
.brand_branding__slider {
  height: 35%;
  width: 100%;
  background-color: blue;
}
.brand_branding__link {
  height: 40%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.box_container {
  display: flex;
  justify-content: center;
  width: 50%;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px;
  font-family: NotoSansKR;
  font-size: 47.2px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.02;
  letter-spacing: normal;
  text-align: center;
  color: #606060;
}
.blue-box {
  width: 300px;
  height: 200px;
  justify-content: center;
  text-align: center;
  background-color: cornflowerblue;
  margin-top: 10px;
  width: 302.4px;
  height: 201.6px;

  opacity: 0.52;
  background-color: #52c3dd;
}

.brand_branding__button {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand_branding__button button {
  margin-top: 50vw;
  width: 198px;
  height: 69px;
  font-family: NotoSansKR;
  font-size: 29px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.72;
  letter-spacing: normal;
  text-align: left;
  color: white;
  background-color: black;
  border-radius: 40px;
  padding: 0 10px 0 10px;
  margin: 0;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  /* You may also want to try adding:*/
  margin: 0;
  padding: 0;
}
